@model ForumMvc.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Подробная информация";
    Layout = "_Layout";
}

<div class="topic-contatiner">
    @{
        await Html.RenderPartialAsync("PatrialViews/TopicInfoPartialView", Model);
    }
</div>

@section Scripts
{
    <script >
    $(document).ready(function (){
         $('#submit').click(function (event) {
                      event.preventDefault();
                      var answer = $("#description-text");
                      var postId = $("#post-id").attr('value');
                      answer = encodeURIComponent(answer.val());
                      $('#answer-topic').load('@Url.Action("AddAnswer", "Answer")?postId='+postId+"&answer="+answer );
                      $("#exampleModal").modal('hide');
                   });
    });
    function previusPage(page, id){
        $('.topic-contatiner').load('@Url.Action("GetPage", "Topic")?id='+id+'&page='+page);
    }
    function nextPage(page, id){
            $('.topic-contatiner').load('@Url.Action("GetPage", "Topic")?id='+id+'&page='+page);
        }
    </script>
}