@model TopicViewModel

@{
    ViewBag.Title = "Создание темы";
    Layout = "_Layout";
}


<div class="registration-container">
    <div class="login">
        <h2>Заполните форму</h2>
        <form asp-action="Create" asp-controller="Topic" class="authorization-form" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <input asp-for="Title" class="login-input" type="text" placeholder="Название темы">
                <span class="validation text-danger" asp-validation-for="Title"></span>
                <input type="text" asp-for="UserId" value="@Model.AuthorizedUserId" hidden>
            </div>
            <div class="mb-3 password-box">
                <textarea asp-for="Description" id="login-password" class="login-input" type="text" placeholder="Описание темы"></textarea>
                <span class="validation text-danger"asp-validation-for="Description"></span>
            </div>
            <button class="login-btn btn btn-success" type="submit">Создать</button>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}